*{
    margin: 0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

    


.container{
    width:100%;
    min-height: 100vh;
    background:  linear-gradient(160deg, rgb(221, 198, 209), skyblue);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
   
}
.age-work{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    
}
.age-work h1{
    margin-bottom: 10%;
    font-size: 40px;
    color: rgba(22, 87, 207, 0.678);
}
.age-work h2{
    color: rgb(102, 102, 102);
    font-size: 30px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    
    border-color: #2f3be2;
    outline: none;
    padding: 13px 40px;
    background-color: rgb(76, 166, 226);
    color: #fff;
    font-size: 15px;
    font-style: italic;
    cursor: pointer;
    border-radius: 30%;
    transform: skewX(-13deg);
}
.cacl{
    margin:40px 0 ;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
.cacl input{
    text-align: right;
    color: blueviolet;
    background-color: #fff;
    font-style:italic;
    flex: 1;
    margin-right: 20px;
    padding: 20px 15px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;

}
.cacl input::-webkit-calendar-picker-indicator{
    left: 0;
    right: 0;
    top: 15px;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100%-10px);
    background-size: 30px;
    cursor: pointer;

}
#result{
    font-size: 20px;
}
#result span{
    color: blue;
}